.about{
    border:1px solid darkorchid;
    border-radius: 25px;
    background-color:rgb(218, 150, 162);
   padding:2px;
    margin:10px;
    text-align: center;
    width: 85%;
    margin:auto;
  

    
}